<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
        <title>Sandbox-Python (Flask)</title>

        <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
    <h1 class="display-4">Welcome to Red Hat OpenShift</h1>
    <p>The Developer Sandbox for Red Hat OpenShift allows you get free access to an OpenShift cluster for 30 days. Learn Kubernetes, experiment with microservics, or build a Proof of Concept for your organization.</p>
    <p>Explore the following technologies and concepts using the Developer Sandbox Activities we've created:</p>
                  
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/pizza-card.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Activity</h5>
                <p class="card-text">Event-Driven Architecture using Apache Kafka (with Red Hat OpenShift Streams for Apache Kafka)</p>
                <a href="https://developers.redhat.com/node/226211" class="btn btn-primary">Take me there</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/petclinic-card.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Activity</h5>
                <p>Deploy a Java Application on Kubernetes in minutes</p>
                <a href="https://developers.redhat.com/node/226211" class="btn btn-primary">Take me there</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/kube-activity-card.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Activity</h5>
                <p>Learn Kubernetes</p>
                <a href="https://developers.redhat.com/node/226211" class="btn btn-primary">Take me there</a>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
